@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.click {
  box-shadow: 0 12px 30px 0 rgb(0, 0, 0, 0.3);
}
.click:hover {
  transform: scale(1.1);
  box-shadow: 0 12px 30px 0 rgb(0, 0, 0, 0.3);
}

li {
  list-style: none;
}

a {
  font-size: 20px;
  text-decoration: none;
  font-weight: 500;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
}

.row {
  padding: 0 32px;
}

p {
  font-size: 16px;
  font-weight: 400;
}

.purple {
  color: #6030b1;
}

/* NAV */
nav {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1200px;
  padding: 12px 0;

}
.logo__img--wrapper {
  width: 200px;
}

.logo__img {
  width: 100%;
}

.nav__items--list {
  display: flex;
  margin-top: 16px;
}

.nav__item--link {
  margin-left: 32px;
  color: #000;
}

.nav__item--link--primary {
  /* border: 2px solid #000; */
  border-radius: 9999px;
  padding: 12px 18px;
  background-color: #6030b1;
  color: white;
}

/* HEADER */

.header__title {
  width: 75%;
  margin: 32px auto;
  text-align: center;
  font-size: 64px;
  font-weight: 700;
}

.header__sub-title {
  margin-top: 24px;
  font-size: 32px;
  font-weight: 500;
  text-align: center;
}

.input__form {
  margin: 32px auto;
  display: flex;
  width: 65%;
  max-width: 900px;
  height: 70px;
}

.search__input:hover {
  border-color: #6030b1;
}


.search__input {
  margin-right: 24px;
  padding: 0 12px;
  width: 100%;
  height: 100%;
  font-size: 24px;
  border: 1px solid lightgrey;
  border-radius: 9999px;
  box-shadow: 0 12px 30px 0 rgb(0, 0, 0, 0.3);
}

button {
  box-shadow: 0 12px 30px 0 rgb(0, 0, 0, 0.3);
  border: none;
  border-radius: 9999px;
  background-color: #6030b1;
  width: 150px;
}

.fa-arrow-right {
  font-size: 32px;

color: #fff;
}

#home {
  height: 100vh;
  background-color: rgba(115, 66, 214, 0.1)
}
.home__img--wrapper {
  margin: 24px auto;
  width: 500px;
}

.home__img {
  width: 100%;
}


/* MOVIES */

.movie__header--title {
  margin-top: 56px;
  font-size: 48px;
  text-align: center;
}

.movies {
  display: flex;
  flex-wrap: wrap;
}

.movie {
  padding: 12px;
  width: 50%;
}