@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.click {
  transition: all 300ms ease;
  box-shadow: 0 12px 30px 0 rgb(0, 0, 0, 0.3);
}
.filter{
  font-size: 20px;
  border-radius: 12px;
}
.click:hover {
  transform: scale(1.1);
  box-shadow: 0 12px 30px 0 rgb(0, 0, 0, 0.3);
}

li {
  list-style: none;
}

a {
  font-size: 20px;
  text-decoration: none;
  font-weight: 500;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
}

.row {
  padding: 0 32px;
}

p {
  font-size: 16px;
  font-weight: 400;
}

.purple {
  color: #6030b1;
}

/* NAV */
nav {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1200px;
  padding: 12px 0;

}

.logo__img--wrapper {
  width: 200px;
}

.logo__img {
  width: 100%;
}

.nav__items--list {
  display: flex;
  margin-top: 16px;
}

.nav__item--link {
  margin-left: 32px;
  color: #000;
}

.nav__item--link--primary {
  /* border: 2px solid #000; */
  border-radius: 9999px;
  padding: 12px 18px;
  background-color: #6030b1;
  color: white;
}

/* HEADER */

.header__title {
  width: 75%;
  margin: 32px auto;
  text-align: center;
  font-size: 64px;
  font-weight: 700;
}

.header__sub-title {
  margin-top: 24px;
  font-size: 32px;
  font-weight: 500;
  text-align: center;
}

.input__form {
  margin: 32px auto;
  display: flex;
  width: 65%;
  max-width: 900px;
  height: 70px;
}

.search__input:hover {
  border-color: #6030b1;
}


.search__input {
  margin-right: 24px;
  padding: 0 12px;
  width: 100%;
  height: 100%;
  font-size: 24px;
  border: 1px solid lightgrey;
  border-radius: 9999px;
  box-shadow: 0 12px 30px 0 rgb(0, 0, 0, 0.3);
}

button {
  box-shadow: 0 12px 30px 0 rgb(0, 0, 0, 0.3);
  border: none;
  border-radius: 9999px;
  background-color: #6030b1;
  width: 150px;
}

.fa-arrow-right {
  font-size: 32px;

  color: #fff;
}

#home {
  height: 100vh;
  background-color: rgba(115, 66, 214, 0.1)
}

.home__img--wrapper {
  margin: 24px auto;
  width: 500px;
}

.home__img {
  width: 100%;
}


/* MOVIES */

.movies__title {
  font-size: 24px;
  max-width: 75%;
  margin-top: 16px;

}

.movies {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}


.movie {
  width: calc(100% / 3);
  margin-top: 48px;
}

.movie__img {
  border-radius: 12px;
  transition: all 300ms ease;
}

.movie__img:hover {
  transform: scale(1.05);
  box-shadow: 0 12px 30px 0 rgb(0, 0, 0, 0.3);
}

/* MOVIE DETAILS*/

.movie__details {
  /* height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.movie__title {
  font-size: 48px;
  text-align: center;
  margin: 24px 0;
}

.movie-details__img {
  width: 100%;
}

.movie__img--wrapper {
  /* margin: 0 auto; */
  width: 350px;
}

.movie__description--para {
  margin-top: 16px;
  font-size: 20px;

}

.highlight {
  font-size: 24px;
}

.movie-detail__description--wrapper {
  display: flex;
  flex-direction: column;

  width: 400px;
}

.img-title__wrapper {
  display: flex;
  width: 50%;

}

.movie__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 32px;
  align-items: flex-start;
}

/* SIMILAR MOVIES */

.similar__movies--title {
  font-size: 48px;
}

.similar__movies--wrapper {
  margin-top: 72px;
}

.similar__movies {
  display: flex;
}

/* 
FOOTER
*/

footer { 
  display: flex;  
  align-items: center;
  justify-content: center;
  background-color: #242424;
}

.footer__logo {
  display: flex;
  margin-top: 32px;
  width: 100%;

}

.footer__logo--img {
  margin: 0 auto;
  width: 200px;
}

.footer__link,
.footer__copyright {
  color: #fff;
}

.footer__list {
  margin: 20px 0 24px 0;
}

.footer__link {
  padding: 0 8px;
}


@media (max-width: 390px) {
  nav {
    display: flex;
    justify-content: center;
  }
  .nav__items--list{
    display: none;
  }
  .header__title {
    width: 100%;
    font-size: 32px;
  }
  .header__sub-title {
    font-size: 24px;
  }

  .search__input {
    padding: 8px;
    font-size: 20px;
    border-radius: 4px;
    margin:12px 0;
  }

  .input__form {
    flex-direction: column;
    align-items: center;
  }

  .input__button {
    padding: 8px;
    border-radius: 4px;
    width: 100%;
  }

  .home__img--wrapper{
    width: 250px;
  }

  .home__img {
    margin-top: 32px;
  }

  .movie {
    width: 100%;
  }

  .movies {
    flex-direction: column;
  }

  .movies__title {
    width: 100%;
  }

  
  .footer__logo {
    display: flex;
    align-items: center;
  }

  .movies__wrapper {
    padding: 32px 0;
  }
}
